{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="author image">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"d/m/Y, H:i:s" }}</small>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'canvas-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'canvas-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <form method="POST">
                {% csrf_token %}
                <table class="pixel-grid">
                    <tr>
                    {% for color in pixel_list %}
                        <td>
                            <button type="submit" class="pixel" style="background-color: {{ color }};"></button>
                        </td>
                        {% if forloop.counter|divisibleby:object.width %}
                    </tr>
                    <tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </form>
        </div>
    </article>
{% endblock content %}