{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="author image">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"d/m/Y, H:i:s" }}</small>
                <small class="text-muted">Time to wait : {{ object.time_to_wait }}</small>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <h2 class="article-title" style="text-align: center;">{{ object.title }}</h2>
            <table class="pixel-grid">
                <tr>
                {% for color in pixel_list %}
                    <td>
                        <div id="pixel" class="pixel" style="background-color: {{ color }};" name="pixel" value="{{ forloop.counter0 }}"></div>
                    </td>
                    {% if forloop.counter|divisibleby:object.width %}
                </tr>
                <tr>
                    {% endif %}
                {% endfor %}
            </table>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('.pixel-grid').on("click", ".pixel", function(){
                        var pixelIndex, color, clickedPixel;

                        pixelIndex = $(this).attr("value");
                        color = $('#selected-color').attr("color");
                        clickedPixel = $(this);

                        $.ajax(
                        {
                            type:"POST",
                            url: "{% url 'canvas-detail' object.id %}",
                            data:{
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                pixel: pixelIndex,
                                new_color: color
                            }
                        })
                    });
                })
            </script>
            <script type="text/javascript">
                $(document).ready(function() {
                    function refreshTable() {
                        $.ajax(
                        {
                            type:"GET",
                            url: "{% url 'canvas-detail' object.id %}",
                            success: function(data) {
                                $('.pixel-grid').html($(data).find('.pixel-grid').html());
                            },
                        })
                    }

                    setInterval(refreshTable, 1000);
                })
            </script>
        </div>
    </article>
    {% include 'blog/tool_bar.html' with id=canvas.id %}
{% endblock content %}