<div class="media-body">
    <button class="pixel" style="background-color: #FF0000;" name="selected-color" value="#FF0000"></button>
    <button class="pixel" style="background-color: #FFD700;" name="selected-color" value="#FFD700"></button>
    <button class="pixel" style="background-color: #00FFFF;" name="selected-color" value="#00FFFF"></button>
    <button class="pixel" style="background-color: #000000;" name="selected-color" value="#000000"></button>
    <button class="pixel" style="background-color: #FFFFFF;" name="selected-color" value="#FFFFFF"></button>
    <button class="pixel" style="background-color: #00FF00;" name="selected-color" value="#00FF00"></button>

    <div>
        <h2 class="article-metadata">Selected color :</h2>
        <div class="pixel" style="background-color: #FF0000;" id="selected-color" color="#FF09AC"></div>
    </div>
</div