<div class="media-body">
    <div class="color-palette-container">
        <div class="color-palet" style="background-color: #FF0000;" name="selected-color" value="#FF0000" onclick="changeSelectedColor(this.value)"></div>
        <div class="color-palet" style="background-color: #FFD700;" name="selected-color" value="#FFD700" onclick="changeSelectedColor(this.value)"></div>
        <div class="color-palet" style="background-color: #00FFFF;" name="selected-color" value="#00FFFF" onclick="changeSelectedColor(this.value)"></div>
        <div class="color-palet" style="background-color: #000000;" name="selected-color" value="#000000" onclick="changeSelectedColor(this.value)"></div>
        <div class="color-palet" style="background-color: #FFFFFF;" name="selected-color" value="#FFFFFF" onclick="changeSelectedColor(this.value)"></div>
        <div class="color-palet" style="background-color: #00FF00;" name="selected-color" value="#00FF00" onclick="changeSelectedColor(this.value)"></div>
    </div>
    <div>
        <h2 class="article-metadata">Selected color :</h2>
        <div class="color-palet" style="background-color: #FF0000;" id="selected-color" color="#FF0000"></div>
    </div>
</div>

<script type="text/javascript">
    function changeSelectedColor(color) {
        const selectedColorElement = document.getElementById("selected-color");

        selectedColorElement.style.backgroundColor = color;

        selectedColorElement.setAttribute("color", color);
    }
</script>