body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}


/* PIXEL GRID */
.pixel-grid td {
    padding: 0; /* Removes padding to ensure div fits perfectly */
    border: 1px solid #000; /* Optional: Adds border to cells for visibility */
}

.pixel {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.pixel:hover {
    transform: scale(1.1); /* Optional: Slightly enlarge on hover */
}


.pixel-grid {
    width: 100%;
    height: auto;
    border-collapse: collapse; /* Optional: Removes spacing between table cells */
}


/* TOOL BAR*/
.tool-bar {
    padding: 10px;
    display: flex; /* Arrange child elements horizontally */
    justify-content: space-between; /* Space out elements */
    align-items: center; /* Center elements vertically */
    width: 100%; /* Ensure the toolbar takes full width */
    gap: 10px; /* Optional: Add some spacing between sections */
    margin-bottom: 50px;
}


/* COLOR PALLET */
.color-palette-container {
    flex: 2;
    display: flex; /* Arrange child elements in a row */
    gap: 5px; /* Space between the color palette items */
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the start of the row */
    align-content: flex-start; /* Align rows to the top */
}

.color-palet {
    width: 50px;
    height: 50px;
    border: solid;
}

.color-palet:hover {
    transform: scale(1.1);
}


/* TIMER */
.timer {
    flex: 1;
    display: flex;
    align-items: center; /* Center the content vertically */
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.timer-min, .timer-sec {
    margin: 0 0.3em;
}

.timer-min {
    margin-left: 0;
}

.timer-sec {
    margin-right: 0;
}
/* SELECTED COLOR */
#selected-color {
    width: 100px;
    height: 100px;
}